.idea
dist/
build
npssdk.egg-info/
npsx.egg-info/
examples.py
nps.egg-info
.pypirc
*.pyc
nps_sdk/soap_client.pyc
nps_sdk/errors.pyc
nps_sdk.egg-info/PKG-INFO
nps_sdk/*.pyc
nps_sdk/__pycache__/*
nps_sdk/wsdl/development.wsdl
